<p>Welcome to Rumble.com!</p><p>Please click on the following link to confirm your email address is valid:</p><p><a href="https://rumble.com/register.php?activationId=1vhmmq4fxktf067k">Click here to activate your account</a></p><p>Alternatively, you can copy and paste the following link into your address bar:</p><p><a href="https://rumble.com/register.php?activationId=1vhmmq4fxktf067k">https://rumble.com/register.php?activationId=1vhmmq4fxktf067k</a></p><p>
-- <br>
Thanks,<br>
Team RUMBLE<br>
https://rumble.com</p>
